CREATE {{ before_table }}TABLE "{%if table.project%}{{table.project}}.{%endif%}{%if table.table_schema%}{{table.table_schema}}.{%endif%}{{table.name}}{% if table.columns %}" ({%for column in table.columns%}
{{column.name}} {{column.type}}{{column.size if column.size}}{{" NOT NULL" if not column.nullable else ""}},{%endfor%}){% endif %};