CREATE{% include "before_table.jinja2" %} TABLE "{%if table.project%}{{table.project}}.{%endif%}{%if table.table_schema%}{{table.table_schema}}.{%endif%}{{table.name}}{% if table.columns %}" ({%for column in table.columns %}
{% include "column.jinja2" %}{{"," if not loop.last }}{%endfor%}){% else %}"{% endif %}{% include "table_properties.jinja2" %};