{%if table.properties.partitioned_by %}
PARTITIONED BY ({%for column in table.properties.partitioned_by%}{% include "column_base.jinja2" %}{{", " if not loop.last }}{% endfor %}){% endif %}{% for property in  properties_as_is%}{%if table.properties|attr(property)%}{{"\n"}}{{" ".join(property.upper().split("_"))}} {{table.properties|attr(property)}}{% endif %}{%endfor%}{%if table.properties.clustered_by %}
CLUSTERED BY ({%for column in table.properties.partitioned_by%}{% include "column_base.jinja2" %}{% endfor %}){% endif %}